* {
    box-sizing: border-box;
}

.sec_1_Container {
    width: 95%;
    background-color: #dfcfbf;
    height: max-content;
    margin: 5vh auto;
    border-radius: 20px;
    padding: 15px;
    box-shadow: #afafaf 0 3px 3.5px;
}

.Sec_1_Header {
    font-size: min(10ex, 20vw);
    color: #5c5c5c;
    text-decoration: underline solid #6c6c6c 4px;
    text-underline-offset: 1vh;
    margin-bottom: 3vh;
    padding: 1vw;
    background-color: #efdfcf;
    border-radius: 1vw;
    border-left: 0.5vw solid #d0c0b0;
    border-bottom: 0.3vw solid #d0c0b0;
    width: max-content;
}

.AnnouncementWrapper {
    color: #5c5c5c;
    position: relative;
    font-size: min(5.5vw, 3rem);
    width: max-content;
    padding: 10px;
    margin: 5%;
    background-color: #efdfcf;
    border-radius: 10px;
    border-left: 10px solid #ac9787;
}

.sub_sec_1 {
    width: 95%;
    margin: 0 auto;
    height: max-content;
    background-color: #efdfcf;
    padding: 15px;
    border-radius: 10px;
    border: solid #cfbfaf 2.5px;
    box-shadow: 0 0 10px #baaa9a;
}

.sub_sec_1_header {
    font-size: min(4.5ex, 6vw);
    color: #5c5c5c;
    background-color: #efdfcf;
    box-shadow: 0 0 5px #baaa9a;
    width: max-content;
    padding: 10px;
    border-radius: 15px;
    border-left: 10px solid #ac9787;
    margin-bottom: 1ex;
}

.Sec_1_p {
    font-size: min(2.5ex, 10vw);;
    text-shadow: #b0a090 0.5px 0 5px;
    margin: 20px 0;
    background-color: #efdfcf;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.paragraph_wrap {
    text-align: justify;
    font-size: 20px;
    text-shadow: #b0a090 0.5px 0 5px;
}

.related_products_container {
    background: linear-gradient(to right, #dfcfbf, #fff, #dfcfbf) ;
    width: 95%;
    margin: 0 auto;
    margin-top: 4vh;
    border-radius: 20px;
    display: flex;
    overflow-x: auto;
    padding: 1em;
    box-shadow: #fff 0 0 5px;
}

.related_products_container::-webkit-scrollbar {
    display: none;
}

.products {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
    padding-right: 1em;
    animation: spin linear 10s infinite;
}

@keyframes spin {
    from{
        translate: 0%;
    }
    to{
        translate: -100%;
    }
}


.Product_1, .Product_2, .Product_3, .Product_4 {
    width: 25vw;
    height: 20vh;
    background-position: center;
    background-size:cover;
    border-radius: 20px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.Product_1:hover, .Product_2:hover, .Product_3:hover, .Product_4:hover{
    scale: 1.05;
}

.Product_4 {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/06551278710263.5cad16152d3a6.jpg);
    box-shadow: #f53 0 0 10px;
}

.Product_3 {
    background-image: url(https://e0.pxfuel.com/wallpapers/755/675/desktop-wallpaper-amazon-prime-video-te-trae-nuevo-contenido-para-este-mes-de-agosto-revista-estilo-honduras.jpg);
    box-shadow: #5f3 0 0 10px;
}

.Product_2 {
    background-image: url(https://i.pinimg.com/474x/8a/62/38/8a6238114ada8cb2339798fa7689fb86.jpg);
    box-shadow: #c4d 0 0 10px;
}

.Product_1 {
    background-image: url(https://i.pinimg.com/236x/5a/ba/7e/5aba7e8e9852fe7df296150724fda177.jpg);
    box-shadow: #35f 0 0 10px;
}

.PopOver {
    display: none;
    grid-template-rows: 0.5fr 1fr;
    gap: 10%;
    border-radius: 10px;
    position: fixed;
    left: 10%;
    top: 7.5%;
    width: 80%;
    min-width: 450px;
    min-height:500px;
    height: 80%;
    translate: 0 5%;
    background-color: #000000;
    box-shadow: black 0 0 20px;
    transition: all 0.3s;
    padding: 20px;
    overflow: auto;
    z-index: 9999;
}

.popover_container {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.btns_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
}

.infobtn{
    border: none;
    width: 70%;
    min-width: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: min(2rem, 4vw);
    text-align: center;
    background-color: white;
    box-shadow: #f55 0 0 5px;
    color: #f55;
    text-shadow: #f55 0 0 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.infobtn:hover {
    scale: 1.05;
    background-color: #f55;
    color: white;
    text-shadow: 0 0 10px white;
}

.information {
    box-shadow: #fa4556 0 0 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 1%;
    padding: 15px;
}

.info {
    display: flex;
    justify-content: center;
}

.PricesList {
    list-style: none;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    gap: 20%;
    text-align: start;
    align-items: center;
}

.Price {
    font-size: min(2rem, 4vw);
    color: #aaa;
    text-shadow: 0 0 5px #555;
}

.popover_T{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 700;
    font-size: min(3.5rem, 5vw);
    color: #fff;
    text-shadow: 0 0 5px white;
}

.popover_p {
    display: flex;
    color: #aaa;
    text-shadow: 0 0 5px #555;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: min(2rem, 3vw);
    width: 100%;
}

.LogoPopover{
    background-image: url(https://frontend-assets.clipsource.com/60dedc6376ad9/hbo-60def166a1502/2025/07/18/6879f6ba97519_thumbnail.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: #000000;
    width: 60px;
    margin: 10px;
    cursor: pointer;
    box-shadow: #affb7f 0 0 10px;
    border: greenyellow solid 2px;
    color: #fff;
    text-align: center;
    margin: auto auto;
    transition: all 0.3s;
}

.button:hover{
    box-shadow: #cf3522 0 0 10px;
    text-shadow: #fff 0 0 5px;
    scale: 1.1;
    background-color: #000;
    color: white;
    border: red solid 2px;
}