* {
    box-sizing: border-box;
}

.Error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    width: max-content;
    padding: 2rem;
    margin: 10vh auto;
    border-radius: 50px;
    text-shadow: 0px 0px 5px #faa;
    box-shadow: #af8a5faf 0px 0 20px;
    color: #af8a5f;
}

.LittleText {
    box-sizing: border-box;
    font-size: small;
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 5px #faa;
    color: #af8a5fa0;
}

.NotFound {
    width: 100%;
    text-align: center;
}